# Project exclude paths
/.gradle/
/Problems/Division/out/
/Problems/Division/out/production/classes/
/Problems/Even or odd/out/
/Problems/Even or odd/out/production/classes/
/Problems/Find the max of three numbers/out/
/Problems/Find the max of three numbers/out/production/classes/
/Problems/Squares of natural numbers/out/
/Problems/Squares of natural numbers/out/production/classes/
/Problems/The integer barrier/out/
/Problems/The integer barrier/out/production/classes/
/Problems/The sign of a number/out/
/Problems/The sign of a number/out/production/classes/
/Problems/The sum of elements/out/
/Problems/The sum of elements/out/production/classes/
/Simple Chatty Bot/task/build/
/Simple Chatty Bot/task/out/
/Simple Chatty Bot/task/out/production/classes/